.card-stream {
    img {
        z-index: 1;
        transition: transform .2s;
    }

    .card-img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .card-img-overlay {
        z-index: 2;
        transition: opacity .2s;
    }

    .card-stream-title {
        z-index: 2;
        text-overflow: ellipsis;
    }


    .card-stream-category {
        z-index: 2;
        float: left;
    }

    .card-stream-tags {
        z-index: 2;
        float: right;
        text-align: right;
    }

    .card-stream-streamer {
        z-index: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // margin: 15px;
        padding: 1px;

        background: var(--stream-card-streamer-background);
        border-radius: 30px;
    }

    .card-stream-streamer.sub-ready {
        z-index: 2;
        background: $color-secondary !important;
    }


    &:hover {
        img {
            transform: scale(1.03);
        }

        .card-img-overlay {
            opacity: 0.2;
        }

        color: var(--body-color);
    }
    
    .card-stream-menu {
        position: absolute;
        z-index: 20;
        bottom: 25px;
        right: 10px;
    
        button {
            z-index: 20;
            pointer-events: all;
        }
    }    
}
